In [95]:
import pandas as pd
import string
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem.wordnet import WordNetLemmatizer
import sqlite3
from tqdm import tqdm

In [41]:
data = pd.read_csv("./AB_NYC_2019.csv")

data.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [42]:
display(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

None

## Предобработка текста

#### Убрем строки с пустым названием

In [43]:
data = data.loc[data['name'].notnull()]

In [44]:
def remove_punctuation(sentence):
    for ch in string.punctuation:
        sentence = sentence.replace(ch,"")
    return sentence.lower()
data['name'] = data.apply(lambda row: remove_punctuation(row['name']), axis=1)
display(data.head(5))

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,clean quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,skylit midtown castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,the village of harlemnew york,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,cozy entire floor of brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,entire apt spacious studioloft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [45]:
data['name'] = data.apply(lambda row: word_tokenize(row['name'], language='english'), axis=1)
display(data.head(5))

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,"[clean, quiet, apt, home, by, the, park]",2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,"[skylit, midtown, castle]",2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,"[the, village, of, harlemnew, york]",4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,"[cozy, entire, floor, of, brownstone]",4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,"[entire, apt, spacious, studioloft, by, centra...",7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [46]:
stop_words = stopwords.words('english')
def remove_stop_words(sentence):
    return [w for w in sentence if not w in stop_words]

data['name'] = data.apply(lambda row: remove_stop_words(row['name']), axis=1)
display(data.head(5))

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,"[clean, quiet, apt, home, park]",2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,"[skylit, midtown, castle]",2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,"[village, harlemnew, york]",4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,"[cozy, entire, floor, brownstone]",4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,"[entire, apt, spacious, studioloft, central, p...",7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [47]:
lemmatizer = WordNetLemmatizer()
data['name'] = data.apply(lambda row: [lemmatizer.lemmatize(word) for word in row['name']], axis=1)
display(data.head(5))

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,"[clean, quiet, apt, home, park]",2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,"[skylit, midtown, castle]",2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,"[village, harlemnew, york]",4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,"[cozy, entire, floor, brownstone]",4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,"[entire, apt, spacious, studioloft, central, p...",7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

## Информационный поиск

In [48]:
con = sqlite3.connect('search_index.db')

In [49]:
con.execute('create table wordlist(word)')
con.execute('create table wordlocation(urlid,wordid,location)')
con.execute('create index wordidx on wordlist(word)')
con.commit()

OperationalError: table wordlist already exists

In [50]:
def entry(table, field, value):
    cur = con.execute("select rowid from %s where %s='%s'" % (table, field, value))
    res = cur.fetchone()
    if res is None:
        cur = con.execute("insert into %s (%s) values ('%s')" % (table, field, value))
        return cur.lastrowid
    else:
        return res[0]

In [51]:
# Добавляем в индекс
for _, apartment in data.iterrows():
    for i, word in enumerate(apartment['name']):
        theWord = entry('wordlist', 'word', word)
        con.execute("insert into wordlocation(urlid,wordid,location) values (%d,%d,%d)" % (apartment['id'], theWord, i))

In [76]:
def get_match_rows(q):
    # заведём строки для дальнейшего формирования запроса
    fieldlist='w0.urlid'
    tablelist=''
    clauselist=''

    wordids=[]

    # разобъём запрос на отдельные слова
    words=[lemmatizer.lemmatize(w) for w in q.lower().split()]
    tablenumber=0

    for word in words:
        # получим ID слова из запроса
        wordrow=con.execute("select rowid from wordlist where word='%s'" % word).fetchone()
        if wordrow!=None:
            wordid=wordrow[0]
            wordids.append(wordid)

            if tablenumber>0: # это для случаев, когда в запросе более одного слова
                tablelist+=','
                clauselist+=' and '
                clauselist+='w%d.urlid=w%d.urlid and ' % (tablenumber-1,tablenumber)

            fieldlist+=',w%d.location' % tablenumber
            tablelist+='wordlocation w%d' % tablenumber
            clauselist+='w%d.wordid=%d' % (tablenumber,wordid)
            tablenumber+=1

    # сформировать запрос в базу
    fullquery='select %s from %s where %s' % (fieldlist,tablelist,clauselist)
    cur=con.execute(fullquery)
    rows=[row for row in cur]

    return rows,wordids

In [77]:
get_match_rows("bright room")

([(94035, 3, 4),
  (100002, 3, 4),
  (106363, 0, 1),
  (458377, 0, 4),
  (565814, 0, 2),
  (622410, 3, 1),
  (637228, 1, 2),
  (794496, 0, 2),
  (823631, 0, 3),
  (848707, 0, 1),
  (924658, 0, 2),
  (940116, 0, 1),
  (1089619, 0, 2),
  (1123737, 1, 4),
  (1150398, 0, 1),
  (1180157, 2, 1),
  (1349237, 0, 3),
  (1391024, 0, 2),
  (1794250, 1, 3),
  (2106706, 1, 2),
  (2145620, 0, 3),
  (2345266, 0, 1),
  (2431607, 0, 2),
  (2451647, 0, 2),
  (2464673, 1, 4),
  (2536005, 0, 1),
  (2791758, 0, 2),
  (2936192, 0, 2),
  (2939670, 0, 1),
  (2942129, 0, 2),
  (3199681, 0, 4),
  (3238355, 1, 3),
  (3278691, 1, 2),
  (3550298, 0, 3),
  (4038794, 0, 1),
  (4116403, 0, 1),
  (4277614, 3, 1),
  (4404544, 1, 3),
  (4824211, 0, 2),
  (4991895, 0, 2),
  (5191965, 0, 1),
  (5588253, 0, 2),
  (5729222, 1, 2),
  (5881122, 1, 3),
  (5926953, 2, 4),
  (6105140, 0, 1),
  (6314794, 0, 1),
  (6402424, 0, 2),
  (6452788, 1, 2),
  (6705558, 1, 2),
  (6763899, 0, 2),
  (6767047, 0, 2),
  (6782841, 0, 2),
  (6792702, 0, 1),
  (6939719, 0, 3),
  (7050731, 1, 2),
  (7064199, 2, 4),
  (7133306, 0, 1),
  (7262439, 0, 2),
  (7381893, 1, 2),
  (7382573, 0, 1),
  (7382982, 0, 2),
  (7629563, 0, 2),
  (7637472, 0, 1),
  (7727061, 0, 2),
  (7835778, 0, 1),
  (7837816, 0, 2),
  (7900119, 0, 1),
  (7915596, 1, 3),
  (8082651, 2, 1),
  (8173559, 0, 2),
  (8223230, 0, 2),
  (8401620, 1, 2),
  (8435067, 0, 3),
  (8504231, 1, 3),
  (8590198, 1, 0),
  (8800996, 0, 3),
  (8925072, 1, 2),
  (9058854, 0, 2),
  (9107118, 0, 3),
  (9231341, 0, 2),
  (9393314, 0, 1),
  (9425524, 1, 3),
  (9463261, 1, 2),
  (9486961, 1, 4),
  (9504043, 0, 2),
  (9682898, 0, 1),
  (9720768, 3, 4),
  (9794077, 0, 3),
  (9823085, 2, 1),
  (9863097, 0, 2),
  (9863626, 4, 1),
  (9989616, 1, 3),
  (10041589, 1, 2),
  (10050847, 1, 2),
  (10355806, 1, 3),
  (10412649, 1, 2),
  (10769752, 1, 2),
  (10786987, 0, 3),
  (10996466, 1, 3),
  (11294566, 0, 2),
  (11370207, 0, 2),
  (11567179, 0, 3),
  (11684682, 0, 2),
  (11755946, 0, 1),
  (11769741, 0, 2),
  (11816864, 0, 1),
  (12088765, 0, 2),
  (12185578, 1, 3),
  (12231331, 0, 2),
  (12265378, 2, 3),
  (12309399, 1, 2),
  (12826965, 1, 3),
  (12970866, 1, 2),
  (13153768, 0, 1),
  (13156351, 0, 3),
  (13217609, 0, 2),
  (13217991, 0, 4),
  (13235951, 0, 2),
  (13245726, 0, 2),
  (13397786, 1, 2),
  (13477359, 1, 2),
  (13605171, 0, 2),
  (13638122, 2, 1),
  (13725194, 0, 2),
  (13769006, 1, 3),
  (13795744, 0, 2),
  (13802334, 0, 2),
  (13848199, 0, 1),
  (13848199, 3, 1),
  (13994052, 3, 1),
  (14092236, 1, 2),
  (14661553, 0, 2),
  (14696542, 0, 3),
  (14783394, 0, 1),
  (14835632, 0, 3),
  (14963404, 0, 2),
  (15040421, 3, 4),
  (15133087, 0, 1),
  (15250168, 0, 2),
  (15433822, 1, 3),
  (15437922, 0, 1),
  (15716633, 0, 3),
  (15733597, 0, 3),
  (15783719, 2, 1),
  (15832372, 1, 2),
  (15886369, 1, 3),
  (15888227, 1, 2),
  (15896529, 0, 2),
  (15988392, 0, 2),
  (16004776, 0, 2),
  (16015571, 0, 3),
  (16085004, 0, 2),
  (16206383, 0, 1),
  (16406403, 0, 2),
  (16428888, 0, 2),
  (16439716, 1, 2),
  (16458046, 1, 2),
  (16471707, 0, 2),
  (16569554, 0, 1),
  (16708143, 0, 1),
  (16821077, 2, 5),
  (16821898, 1, 3),
  (16855055, 1, 2),
  (17189819, 0, 2),
  (17346379, 0, 3),
  (17494449, 0, 2),
  (17539808, 0, 1),
  (17552955, 3, 2),
  (17583732, 0, 2),
  (17670245, 1, 2),
  (17777654, 0, 3),
  (17778941, 1, 4),
  (18076273, 1, 3),
  (18110008, 0, 1),
  (18221090, 0, 2),
  (18377036, 0, 3),
  (18387366, 0, 3),
  (18402330, 1, 2),
  (18402568, 1, 2),
  (18450490, 2, 3),
  (18460679, 0, 2),
  (18460756, 0, 2),
  (18476474, 0, 2),
  (18488077, 1, 2),
  (18543045, 1, 0),
  (18729985, 0, 2),
  (18823940, 0, 1),
  (18908676, 1, 2),
  (19010965, 1, 2),
  (19226897, 1, 2),
  (19227222, 0, 2),
  (19274206, 0, 3),
  (19275018, 1, 2),
  (19357186, 0, 3),
  (19378517, 0, 2),
  (19385783, 0, 2),
  (19424753, 0, 3),
  (19532027, 0, 3),
  (19532157, 1, 2),
  (19532805, 2, 1),
  (19608383, 0, 3),
  (19676301, 1, 3),
  (19876727, 0, 2),
  (19884639, 1, 3),
  (19891174, 0, 1),
  (19892918, 1, 2),
  (19894740, 1, 2),
  (19981877, 2, 1),
  (20089288, 2, 3),
  (20185035, 1, 2),
  (20186021, 0, 3),
  (20187779, 1, 2),
  (20231737, 0, 2),
  (20235984, 0, 1),
  (20264224, 0, 2),
  (20269743, 1, 3),
  (20297560, 1, 2),
  (20503496, 2, 1),
  (20542273, 0, 5),
  (20587133, 1, 2),
  (20675149, 1, 2),
  (20863293, 0, 2),
  (20902001, 1, 2),
  (20918376, 1, 3),
  (20982002, 0, 2),
  (21007370, 1, 2),
  (21094022, 0, 2),
  (21125733, 1, 4),
  (21240760, 0, 2),
  (21346054, 0, 3),
  (21539105, 2, 4),
  (21558111, 2, 3),
  (21577066, 0, 3),
  (21581457, 0, 2),
  (21636155, 1, 2),
  (21643957, 0, 4),
  (21698534, 1, 4),
  (21701158, 0, 1),
  (21726826, 2, 3),
  (21780433, 0, 1),
  (21822611, 0, 2),
  (21825464, 0, 1),
  (21850427, 0, 2),
  (21860693, 2, 1),
  (21891406, 0, 3),
  (22008794, 1, 2),
  (22045554, 0, 2),
  (22048368, 2, 1),
  (22075971, 0, 2),
  (22098435, 1, 3),
  (22187253, 2, 4),
  (22303234, 0, 2),
  (22305350, 0, 3),
  (22356843, 0, 4),
  (22396507, 0, 2),
  (22407389, 1, 2),
  (22484513, 1, 2),
  (22514949, 0, 2),
  (22588459, 3, 2),
  (22955342, 0, 2),
  (23106431, 0, 1),
  (23111211, 0, 1),
  (23329332, 0, 3),
  (23358691, 1, 2),
  (23631575, 0, 2),
  (23691189, 0, 2),
  (23753607, 0, 2),
  (23811416, 2, 4),
  (23901118, 2, 0),
  (23940698, 0, 2),
  (23956264, 0, 1),
  (24348078, 1, 2),
  (24370692, 0, 1),
  (24805348, 0, 1),
  (24826533, 1, 4),
  (24857436, 1, 2),
  (24913445, 0, 2),
  (25283412, 1, 2),
  (25417007, 1, 2),
  (25489254, 0, 3),
  (25512622, 0, 2),
  (25580283, 0, 1),
  (25972102, 1, 2),
  (26031698, 0, 1),
  (26166442, 1, 2),
  (26210593, 0, 2),
  (26260516, 0, 1),
  (26357035, 0, 1),
  (26560264, 2, 3),
  (26735765, 0, 1),
  (26742074, 2, 3),
  (26785149, 0, 3),
  (26788754, 0, 3),
  (26900640, 1, 2),
  (26939557, 0, 2),
  (26957310, 1, 2),
  (27079267, 0, 1),
  (27130196, 1, 3),
  (27140780, 0, 3),
  (27293665, 0, 4),
  (27312987, 0, 2),
  (27394468, 0, 4),
  (27468927, 0, 4),
  (27470574, 0, 2),
  (27473250, 3, 5),
  (27697402, 1, 2),
  (27831402, 0, 2),
  (27869757, 0, 2),
  (27919288, 0, 2),
  (28074191, 0, 1),
  (28138840, 1, 3),
  (28250925, 0, 2),
  (28412831, 2, 5),
  (28431734, 0, 2),
  (28550680, 0, 1),
  (28736269, 0, 1),
  (28833210, 0, 1),
  (28864751, 1, 2),
  (28966170, 0, 3),
  (28990673, 0, 2),
  (29027853, 0, 2),
  (29384552, 0, 2),
  (29463847, 1, 3),
  (29741023, 0, 3),
  (29792553, 1, 2),
  (29879394, 3, 4),
  (29931976, 2, 5),
  (30065616, 0, 1),
  (30071646, 0, 3),
  (30071646, 0, 5),
  (30181399, 0, 2),
  (30424508, 0, 2),
  (30429519, 0, 1),
  (30536585, 0, 3),
  (30590147, 3, 4),
  (30692398, 1, 2),
  (30749019, 0, 2),
  (30773154, 0, 6),
  (30809679, 1, 2),
  (31120894, 0, 2),
  (31205946, 1, 3),
  (31240258, 0, 2),
  (31411380, 0, 3),
  (31541068, 0, 2),
  (31542976, 1, 2),
  (31543432, 1, 2),
  (31675967, 0, 3),
  (31795183, 0, 1),
  (31947991, 0, 1),
  (31993541, 1, 3),
  (32183028, 0, 5),
  (32187475, 3, 6),
  (32240870, 0, 3),
  (32267833, 0, 1),
  (32286787, 1, 3),
  (32439871, 0, 1),
  (32517517, 0, 1),
  (32587861, 0, 1),
  (32635385, 0, 2),
  (32699981, 1, 2),
  (32722385, 1, 2),
  (32940382, 2, 1),
  (32974799, 0, 2),
  (33100876, 0, 1),
  (33141479, 1, 5),
  (33219891, 0, 2),
  (33433393, 0, 2),
  (33613736, 0, 2),
  (33683932, 0, 2),
  (33855937, 0, 2),
  (33912291, 0, 2),
  (33999874, 0, 1),
  (34024785, 1, 3),
  (34178190, 1, 0),
  (34180443, 0, 3),
  (34181609, 1, 2),
  (34197691, 2, 3),
  (34207902, 3, 5),
  (34231746, 1, 2),
  (34261963, 0, 2),
  (34336147, 0, 3),
  (34415643, 0, 2),
  (34461661, 0, 3),
  (34566798, 1, 2),
  (34625721, 1, 2),
  (34653572, 0, 1),
  (34778953, 1, 2),
  (34809791, 0, 2),
  (34935098, 0, 2),
  (35063377, 0, 2),
  (35196873, 1, 3),
  (35220898, 1, 2),
  (35335248, 1, 4),
  (35561531, 1, 2),
  (35668212, 0, 2),
  (35770687, 0, 2),
  (36006640, 0, 2),
  (36078765, 0, 2),
  (36142853, 0, 2),
  (36278966, 1, 2),
  (36298737, 1, 3),
  (36311265, 0, 4)],
 [126, 26])

## Исправление опечаток

In [66]:
from spellchecker import SpellChecker

In [72]:
py_spellchecker = SpellChecker()
def fix_spelling(sentence):
    return ' '.join([py_spellchecker.correction(word) for word in sentence.split()])

In [73]:
fix_spelling('anksiety of defil')

'anxiety of devil'

## Ранжирование поисковой выдачи

In [69]:
def normalize_scores(scores,smallIsBetter=0):
    vsmall=0.00001 # Avoid division by zero errors
    if smallIsBetter:
        minscore=min(scores.values(  ))
        return dict([(u,float(minscore)/max(vsmall,l)) for (u,l) in scores.items(  )])
    else:
        maxscore=max(scores.values(  ))
        if maxscore==0: maxscore=vsmall
        return dict([(u,float(c)/maxscore) for (u,c) in scores.items(  )])

In [70]:
def frequency_score(rows):
    counts=dict([(row[0],0) for row in rows])
    for row in rows: counts[row[0]]+=1
    return normalize_scores(counts)

In [71]:
def get_score_list(rows):
    totalscores=dict([(row[0],0) for row in rows])

    weights=[(1.0, frequency_score(rows))]

    for (weight,scores) in weights:
        for url in totalscores:
            totalscores[url]+=weight*scores[url]

    return totalscores

In [74]:
def query(q, dataset, count = 15):
    q = fix_spelling(q)
    rows, wordids = get_match_rows(q)
    scores = get_score_list(rows)
    rankedscores = sorted([(score, url) for (url, score) in scores.items()], reverse=True)[0:count]
    df_res = pd.DataFrame()
    for (score, theId) in rankedscores:
        result = dataset.loc[dataset.id == theId]
        q = {'score': score, 'id': theId, 'neighbourhood_group': result.neighbourhood_group, 'name': result.name}
        df_res =  pd.concat([df_res, pd.DataFrame(q)])
    return df_res

In [78]:
df = query("Brigt room", data)
display(df)

,score,id,neighbourhood_group,name
38088,1.0,30071646,Brooklyn,"[bright, spacious, brooklyn, room, living, room]"
17608,1.0,13848199,Manhattan,"[bright, room, spacious, bright, apartment]"
48536,0.5,36311265,Brooklyn,"[bright, sunny, large, bk, room, shared, space]"
48503,0.5,36298737,Brooklyn,"[fresh, bright, private, room, near, j, train]"
48479,0.5,36278966,Manhattan,"[cozy, bright, room, half, bath, bunk, bed]"
48221,0.5,36142853,Brooklyn,"[bright, cozy, room, greenpoint, loft]"
48098,0.5,36078765,Brooklyn,"[bright, bushwick, room, view, park]"
47970,0.5,36006640,Brooklyn,"[bright, cozy, room, renovated, williamsburg, ..."
47501,0.5,35770687,Brooklyn,"[bright, quiet, room, 25, min, downtown, manha..."
47268,0.5,35668212,Brooklyn,"[bright, shared, room, newly, renovated, house]"
47026,0.5,35561531,Manhattan,"[spacious, bright, room, easy, commute, nyc]"
46589,0.5,35335248,Manhattan,"[spacious, bright, modern, private, room, two]"
46357,0.5,35220898,Brooklyn,"[cozy, bright, room, williamsburg]"
46328,0.5,35196873,Manhattan,"[huge, bright, private, room, next, central, p..."
46078,0.5,35063377,Brooklyn,"[bright, loftstyle, room, prime, williamsburg]"

## Рекомендация ранжированного переченя статей из Википедии для каждого документа из коллекции

In [79]:
import warnings
warnings.filterwarnings('ignore')
import wikipedia

In [80]:
def search_in_wikipedia(text):
    wiki_pages = []
    pages = wikipedia.search(text)
    for page in pages:
        try:
            page = wikipedia.page(page)
            wiki_pages.append(page)
        except wikipedia.exceptions.DisambiguationError as e:
            pass
        except wikipedia.exceptions.PageError:
            pass
    return wiki_pages

In [81]:
def get_wiki_article(vehicle_title):
    ans = pd.DataFrame(columns=['wiki_page_name', 'wiki_page_link'])
    for i, page in enumerate(search_in_wikipedia(vehicle_title)):
        ans = pd.concat([ans, pd.DataFrame({'wiki_page_name': page.title, 'wiki_page_link': page.url}, index=[i])])
    return ans

In [82]:
get_wiki_article('New York Brooklyn')

       wiki_page_name                                    wiki_page_link
0       Blackout cake       https://en.wikipedia.org/wiki/Blackout_cake
1    Brooklyn Dodgers    https://en.wikipedia.org/wiki/Brooklyn_Dodgers
2    Brooklyn Beckham    https://en.wikipedia.org/wiki/Brooklyn_Beckham
3  Brooklyn Nine-Nine  https://en.wikipedia.org/wiki/Brooklyn_Nine-Nine
4     Brooklyn (film)     https://en.wikipedia.org/wiki/Brooklyn_(film)

In [89]:
wiki_search_data = data['neighbourhood'].unique()

In [96]:
wiki_pages = dict()
for neighbourhood in tqdm(wiki_search_data):
    wiki_pages[neighbourhood] = get_wiki_article( 'New York' + neighbourhood)

100%|██████████| 221/221 [25:38<00:00,  6.96s/it]

In [97]:
pd.options.display.max_colwidth = 150

In [98]:
display(wiki_pages['Clinton Hill'])

,wiki_page_name,wiki_page_link
0,"Clinton Hill, Brooklyn","https://en.wikipedia.org/wiki/Clinton_Hill,_Brooklyn"
1,"Flower Hill, New York","https://en.wikipedia.org/wiki/Flower_Hill,_New_York"
2,"Manhasset Hills, New York","https://en.wikipedia.org/wiki/Manhasset_Hills,_New_York"
3,"Clinton Hill, Newark","https://en.wikipedia.org/wiki/Clinton_Hill,_Newark"
4,"North Hills, New York","https://en.wikipedia.org/wiki/North_Hills,_New_York"
5,"East Hills, New York","https://en.wikipedia.org/wiki/East_Hills,_New_York"
6,George Clinton (vice president),https://en.wikipedia.org/wiki/George_Clinton_(vice_president)
7,College Hill (New York),https://en.wikipedia.org/wiki/College_Hill_(New_York)
8,"Harbor Hills, New York","https://en.wikipedia.org/wiki/Harbor_Hills,_New_York"